h1 {
    color: blueviolet;
    background-color: grey;
    font-weight: bolder;
}

h3 {
    color: aliceblue;
    background-color: black;
}

li {
    color: black;
    background-color: bisque;
}

img {
    height: 300px;
    width: auto;
}